<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791670162595-qn85i13jadlq3egiqfenciggkkr3u8ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791670162595-qn85i13jadlq3egiqfenciggkkr3u8ll</string>
	<key>API_KEY</key>
	<string>AIzaSyBkkPDbHj4eZe3amUUBdFmNmYotOGkQQJg</string>
	<key>GCM_SENDER_ID</key>
	<string>791670162595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainer</string>
	<key>PROJECT_ID</key>
	<string>stern-s-gym-trainers-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>stern-s-gym-trainers-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791670162595:ios:fed295dcf6376b0e262b16</string>
</dict>
</plist>